<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>應安168停車聯盟延平北場 - 地鎖控制</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="./images/S__24854587.ico">
</head>

<body>
    <div id="app">
        <div class="container-fluid mt-5">
            <img src="./images/S__24854589.jpg" alt="" style="width: 15%; display: block;" class="mx-auto my-3">
            <h1 class="text-center">應安168停車聯盟延平北場 <br>專用車位管理系統</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="col text-center">
                            <th class="col text-center">車位</th>
                            <th class="col text-center">管制按鈕</th>
                            <th class="col text-center">擋板狀態</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in spaces" :key="item.id">
                        <tr class="text-center">
                            <td>{{ item.space }}</td>
                            <td class="col text-center">
                                <button class="btn" @click="toggleBtn(item.id)"
                                    :class="[item.btn ? 'btn-outline-success' : 'btn-danger']">
                                    {{ item.btn ? "車位開放" : "車位管制" }}
                                </button>
                            </td>
                            <td scope="col">
                                <img v-if="item.status" src="./images/擋板下降.png" alt="" style="width: 200px;">
                                <img v-else="item.status" src="./images/擋板上升.png" alt="" style="width: 200px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script type="module" src="./js/all.js"></script>
</body>

</html>